smartturn-backend/.gradle/**
smartturn-business/.gradle/**
smartturn-persistent/.gradle/**
smartturn-data/.gradle/**
smartturn-utils/.gradle/**

smartturn-backend/build/**
smartturn-business/build/**
smartturn-persistent/build/**
smartturn-data/build/**
smartturn-utils/build/**

smartturn-backend/bin/**
smartturn-business/bin/**
smartturn-persistent/bin/**
smartturn-data/bin/**
smartturn-utils/bin/**

smartturn-ui/node_modules/**
