/*Global Styles */
* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-size: 13px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    padding: 0;
    margin: 0;
    min-height: 100%;
    background-color: white;
}

.layout {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 64px;
    width: 100%;
    background-color: rgb(0, 51, 160);
}

.layout .media .media-body {
    color: white;
}

/** 
 * Propiedades de estilo para el menu - inicio
 **/
/*Sidebar*/
.sidebar {
    z-index: 999;
    position: fixed;
    height: 100%;
    margin-left: -200px;
    overflow-y: auto;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.12);
    width: 200px;
    -webkit-transition: margin-left 0.3s;
    -moz-transition: margin-left 0.3s;
    -o-transition: margin-left 0.3s;
    transition: margin-left 0.3s;
}
.sidebar-root {
    width: 200px;
    margin: 0;
    padding: 0 10px;
    list-style: none;
}
.header-menu-active .sidebar {
    margin-left: 0;
}
/*Sidebar menu*/
.sidebar-submenu {
    list-style: none;
    padding: 5px 0px;
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    background-color: white;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.nav-link {
    padding: 5px 10px;
    color: #535353;
    position: relative;
    display: block;
    text-decoration: none;
    border: 1px solid transparent;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.nav-link i {
    margin-right: 5px;
}
a.nav-link span {
    color: #535353;
}
.nav-link i.fa-angle-down {
    transition: all 0.3s;
    transition-duration: ease-in-out;
}
.active-item > a > i.fa-angle-down, 
.active-subitem > a > i.fa-angle-down {
    transform: rotate(180deg);
}
.sidebar .sidebar-title {
    color: rgb(0, 51, 160);
    letter-spacing: 0.5px;
    padding: 25px 0 10px 0;
    font-size: 12px;
    border-bottom: 1px solid rgb(0, 51, 160);
    margin-left: 6px;
    margin-right: 20px;
    margin-bottom: 10px;
}
.sidebar-menuitem-toggler {
    float: right;
}
.sidebar-root .nav-item a:hover{
    border-color: #2162b0;
}
.sidebar-root .active-item > a {
    background-color: rgb(0, 51, 160);
    color: white;
}
.sidebar-root .active-item > a * {
    color: white;
}
.sidebar-root .active-item .active-subitem > * {
    color: rgb(0, 51, 160);
}
/** 
 * Propiedades de estilo para el menu - fin
 **/
 
 /*animations*/
.fadeInDown {
    animation-name: fadeInDown;
}
 